.doing{
    font-family: $raleway;    
    box-shadow: $primary-shadow;
    overflow:hidden;
    &-head{
        height:50px;
        width: 100%;
        color: $primary-color;        
        font-size: 33px;
        margin-left: 10px;
        margin-right:20px;
        position:relative;
        p{
            padding-top: 8px;
        }
        &:after{
            position: absolute;
            content: '';
            top: 50px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12px 7px 0 7px;
            border-color: #fff transparent transparent 
        }
    }
    &-item{     
        color: $secondary-color;
        height:50px;        
        background: $primary-color;
        width: 100%;  
        box-shadow: $secondary-shadow;    
        position: relative;
        p{
            font-size: 33px;
            padding-top: 8px;
            padding-left: 10px;            
        }
        span{
            font-size: 12px;
            position: absolute;
            top: 35px;
            right: 10px;
        }
        &:nth-child(1){
            box-shadow: none;
        }
    }    
}
#save{
    width: 300px;
    height: 20px;
}